.lists {
    display: grid;
    grid-template-columns: 50px 200px 1fr 50px;
    grid-template-rows: 100px 100px 1fr;
    height:100vh;
    width:100vw;
}
.topOfTable{
    grid-column: 2/3;
    grid-row:2/3;
}

.user-table{
    grid-column: 2/4;
    grid-row:2/4;
}
.radio{
    display: flex;
    justify-content: center;
}