.columns {
    display: grid;
    grid-template-columns: 50px 33% 1fr 33% 50px;
    grid-template-rows:100px 1fr 100px;
    height:100vh;
    width:100vw;
}
.pending-assignments{
    grid-column: 2 / 3;
    grid-row: 2;
}
.course-list{
    grid-column: 3/4;
    grid-row: 2;
}

.course-list{
    width: 600px;
}

.topOfTable{
    display: flex;
    flex-direction: row;
    justify-content: flex-start; 
}