.teacher-lecture {
    display: grid;
    padding: 120px 50px 50px 50px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 41px;
}
.left-lecture{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* grid-column: 1/2;
    grid-row:2/4 */
}
.middle-lecture{
    display: grid;
    grid-template-rows: 1fr 1fr;

}
.right-lecture{
    display: flex;
    flex-direction: column;
    /* grid-column: 3/4;
    grid-row:2/4; */
}
.ui.segment.right-lecture {
    display: flex;
    margin: 0;
    flex-direction: column;
    justify-content: space-around;
}

.ui.form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.ui.form textarea{
    width: 300px;
}
.resources{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.resources>div{
    height:50%;
}

/* .thumb-section{
}
.free-section{
} */
.thumbsup-count{
    display: flex;
    font-size: 20px;
}

.tl-icon-container {
    display:flex;
    justify-content: center;
    width: 100%;
}
.tl-survey-container {
    display: flex;
    height: 124px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width:480px){
    .teacher-lecture{
        display: flex;
        flex-direction: column-reverse;
    }
}