.teacher-lecture{
    display: grid;
    height: 100vh;
    padding: 120px 50px 20px 50px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 41px;
}
.left-lecture{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* grid-column: 1/2;
    grid-row:2/4 */
}
.middle-lecture{
    display: grid;
    padding-top: 51px;
    grid-template-rows: 1fr 1fr;

}
.right-lecture{
    display: flex;
    flex-direction: column;
    /* grid-column: 3/4;
    grid-row:2/4; */
}
.ui.segment.right-lecture {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.ui.form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.ui.form textarea{
    width: 300px;
}
.resources{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height:90%;
}
.resources>div{
    height:50%;
}

/* .thumb-section{
}
.free-section{
} */
.thumbsup-count{
    display: flex;
}
@media screen and (max-width:480px){
    .teacher-lecture{
        display: flex;
        flex-direction: column-reverse;
    }
}