.quiz-taker-btn-container {
  margin-top: 10px;
}

.qlist-container {
  padding: 10px;
  height: 80vh;
}

.quiz-taker-question-container {
  padding: 20px;
}

.quiz-taker-question-guide {
  margin-left: 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.qt-option {
  line-height: 43px;
  font-size: 25px;
}

.ui.segment.quiz-taker-question-container {
  padding: 45px;
  width: 40vw;
  height: 65vh;
}

.qt-option:hover {
  border: 2px solid orange;
  cursor: pointer;
}

.ui.segment.qlist-container {
  padding: 22px 0 22px 22px;
}

.qt-qlist-header {
  margin-left: 10px;
}

.qt-btn-left {
  float: left;
}

.qt-btn-right {
  float: right;
}

.qt-option-selected {
  border: 5px solid orange;
}
.qt-option-selected:hover {
  border: 5px solid orange;
}

.qt-option-notselected {
  border: none;
}

.qt-q-item {
  cursor: pointer;
}

.qt-submit-btn {
  display: flex;
  justify-content: center;
}

.qlist-inner-container {
  overflow: auto;
  height: 90%;
  margin: 0 20px 20px 0;
  padding: 0 30px 20px 10px;
  width: 214px;
  font-size: 18px;
  line-height: 30px;
}

.quiz-taker-container {
  display: flex;
  justify-content: flex-start;
  padding: 113px 80px 0;
}

h2.qt-qlist-h2 {
  padding-left: 7px;
}

.quiz-taker-question-guide {
  margin-left: 14%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
