.cb-home-container {
  display: flex;
  justify-content: space-between;
}

.cb-home-outer-container {
  padding: 110px 50px;
}

.cb-home-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.ss-searchbox-container {
  display: grid;
  grid-template-columns: 3fr 2fr;
}
