body {
    background: #f5f7f8;
  }
  
  .grid-1 {
    display: grid;
    width: 100%;
    max-width: auto;
    margin: 0 auto;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 2px;
  }
  
  /* items */
  
  .grid-1 div {
    color: white;
    font-size: 20px;
    padding: 20px;
    }
  
  /* specific item styles */
  
  .item-1 {
    background: #4464a1;
  }
  