/*----------------------------------------
General Styles
----------------------------------------*/

img {
    width: 100%;
}

.landing {
    position: relative;
    background: url('../../images/home2-slider-main.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.dark-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.middle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-main-content {
    width: 1546px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-main-content h1 {
    color: white;
    margin-top: 200px;
    font-size: 46px;
    font-weight: 300;
    line-height: normal;
    letter-spacing: .6px;
    margin-bottom: 12px;
    font-family: "Roboto", sans-serif;
}

.home-main-content p {
    color: white;
    max-width: 530px;
    margin: auto;
    font-size: 14px;
    font-weight: 100;
    line-height: 26px;
    letter-spacing: .2px;
    text-align: center;
    font-family: "Roboto", sans-serif;
}

.main-feature-section {
    display: flex;
    margin-left: 100px;
    margin-top: 50px;
}

.features-item {
    width: 150px;
    height: 100px;
    margin-right: 100px;
}

.fi-logo h3 {
    color: white;
    width: 200px;
    margin-left: -13px;
}

.fi-logo p {
    text-align: center;
    margin-left: 15px;
}

.btn-primary {
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    color: #000;
    letter-spacing: 1px;
    line-height: 35px;
    width: 170px;
    border: 2px solid white;
    border-radius: 40px;
    background: #FFFFFF;
    transition: all 0.3s ease 0s;
    margin-top: 13%;
    font-family: "Roboto", sans-serif;
}

.btn-primary:hover {
    color: #fff;
    background: #18C1F0;
    border: 2px solid #18C1F0;
}

.border .border-top {
    margin-bottom: 27px;
    height: 50px;
}

.border:before {
    width: 5px;
    height: 5px;
    opacity: .5;
    border-radius: 50%;
    content: '';
    top: -143%;
    margin: auto auto auto -2px;
    background: #ccc;
    display: inline-block;
    position: absolute;
}

.border:after {
    clear: both;
    content: " ";
    width: 1px;
    height: 222px;
    opacity: .5;
    top: -218%;
    bottom: 0;
    margin: auto;
    background: #ccc;
    display: inline-block;
    position: absolute;
}

.border .border-bottom {
    height: 40px;
    margin-top: 27px;
}

.border.border-bottom:before {
    top: 105%;
}

.border.border-bottom:after {
    top: 75%;
    height: 35px;
}

.diagonal img {
    width: 50px;
}

section {
    position: relative;
    text-align: center;
}
section:before {
    position: absolute;
    content:'';
}
section.diagonal {
    background: #fff;
}

.diagonal {
    z-index: 1;
    padding: 3em;
}
.diagonal:before {
    -webkit-transform: rotate(-7deg);
    transform: rotate(-7deg);
    -webkit-transform-origin: 3% 0;
    transform-origin: 3% 0;
    top: 0;
    left: -7%;
    z-index: -1;
    width: 150%;
    height: 285%;
    background: inherit;
}

.top-section-title {
    position: absolute;
    top: 96%;
    left: 41%;
}

.top-section-title h3 {
    margin-top: 40px;
    letter-spacing: .7px;
    margin-bottom: 12px;
    font-weight: 300;
    font-size: 36px;
    line-height: normal;
    font-family: Roboto;
    color: #202121;
    font-style: normal;
    display: flex;
}

.boxes-wrapper {
    display: flex;
    align-items: center;
    margin-left: -53%;
    margin-top: 50px;
    margin-right: 17%;
}

.boxes-container {
    max-width: 431px;
    margin: 0 auto;
    text-align: center;
    padding: 54px 40px;
    box-shadow: 4.5px 5.4px 10px 0 rgba(0,0,0,.06);
    margin-bottom: 100px;
    display: flex;
    /* position: absolute;
    top: 204%;
    left: 38%; */
}

.box-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-box {
    
}

.icon-box img {
    width: 128px;
    height: 128px;
}

.box-content {
    font-family: Roboto;
    color: #202121;
    font-weight: 500;
    font-style: normal;
}

.box-content h3 {
    font-size: 18px;
    line-height: normal;
    letter-spacing: .4px;
    text-transform: none;
    font-family: Roboto;
}

.descrition {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: .3px;
    text-align: center;
    font-family: Roboto;
}

.color {
    width: 128px;
    height: 128px;
    background-color: blue;
}


