.navbar {
  background: white;
  height: 85px;
  width: 100%;
  margin-bottom: 20px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 10;
  top: 0;
  justify-content: space-between;
  padding: 0 34px;
}

.navbar > div > a {
  font-size: 21px;
  margin-right: 31px;
}

.navbar > div {
  display:flex;
  align-items: center;
}
