#navbar {
  width: 100vw;
  height: 100px;
  background: linear-gradient(to left, #24C6DC, #514A9D);
color: white;
display: flex;
justify-content: flex-end;

}
#logout {
  height: 100%;
  margin-right: 0px;
  width: 150px;
  font-size: 20px;
}