#navbar {
  width: 100vw;
  height: 100px;
  background: linear-gradient(to left, #24c6dc, #514a9d);
  color: white;
  display: flex;
  justify-content: flex-end;
}

.App {
  width: 100vw;
  height: 100vh;
}
