.cb-num-days-input {
    width: 64px;
}

.cb-container {
    padding: 10px;
    display: flex;
    justify-content:center;
    align-items: flex-start;
}

.cb-daysquare {
    border: 1px solid black;
    padding: 8px;
    width: 100px;
    height: 100px;
    position: relative;
    border-radius: 5px;
    margin: 4px;
}

.cb-days-container {
    display:flex;
    flex-wrap:wrap;
}

.cb-resource-radios {
    display: flex;
    width:35%;
    align-items: flex-start;
    flex-direction: column;
    margin: 1em auto;
}

.cb-day-counters {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    bottom: 0;
    width: 85%;
}

.cb-pane {
    width: 350px;
    margin:10px;
    min-height: 400px;
}

.cbds-day-group {
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    align-items: center;
    margin-top: 8px;
}

.cbds-day-group > h3 {
    margin-bottom: 0;
    margin-left: 5px;
    
}

.cbds-inputs-container {
    margin-bottom: 42px;
}

.cbds-list-container {
    margin: 5px;
}