.cb-num-days-input {
    width: 64px;
}

.cb-container {
    padding: 10px;
    display: flex;
    justify-content:center;
    align-items: flex-start;
}

.cb-daysquare {
    border: 1px solid black;
    width: 100px;
    height: 100px;
    position: relative;
}

.cb-days-container {
    display:flex;
    flex-wrap:wrap;
}

.cb-resource-radios {
    display: flex;
    width:35%;
    align-items: flex-start;
    flex-direction: column;
    margin: 1em auto;
}

.cb-day-counters {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    bottom: 0;
    width: 100%;
}